<script src="~/Content/js/jquery-3.2.js"></script>
@*<script src="~/Scripts/jquery.validate.js"></script>*@
@*<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@
<script src="~/Content/lib/bootstrap/js/bootstrap.min.js"></script>
<link href="~/Content/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<!--该插件需要在最后-->
<script src="~/Content/js/jquery.tmpl.js"></script>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<!--分类选项卡-->
<div class="tabbar">
    <div class="category"><span onclick="getProductByCategory(0)">最新</span></div>
    <div class="category"><span onclick="getProductByCategory(1)">手机</span></div>
    <div class="category"><span onclick="getProductByCategory(7)">数码</span></div>
    <div class="category"><span onclick="getProductByCategory(4)">书本</span></div>
    <div class="category"><span onclick="getProductByCategory(6)">服装</span></div>
    <div class="category"><span onclick="getProductByCategory(3)">家具</span></div>
</div>
<!--产品列表和分页-->
<div class="item-list">
    <div>
        <!--产品-->
        <div class="items" id="items">
        </div>
        <!--分页-->
        <div class="list-count" id="listCount">
        </div>
    </div>
</div>



<!--首页产品显示模版-->
<script id="productItem" type="text/x-jquery-tmpl">
    <div class="item">
        <a href="/Product/Detail/${ProID}">
            <div class="item-img" style="background-image: url('/Content/productImg/${ProImgUrl}')">
            </div>
            <div class="item-info">
                <p class="item-title">${ProName}</p>
                <div class="price-line">
                    <div class="price">
                        <p class="price-unit">￥</p>
                        <!--<p class="price-value">@*@Math.Round(${ProNewPrice}.Value, 2)*@</p>-->
                        <p class="price-valu
                            <p class=" price-value">${ProNewPrice}</p>
                    </div>
                </div>
            </div>
            <div class="user-line">
                <div class="user-info">
                    <img src="/Content/${UserIcon}" class="usericon" />
                    <p class="user-name">${ProWhoUser}</p>
                </div>
            </div>
        </a>
    </div>
</script>

<!--分页模版-->
<script id="listCountTemplete" type="text/x-jquery-tmpl">
    <nav>
        <ul class="pagination pagination-lg">
            <li>
                <span onclick='getProduct("${1}", "${categId}")'>首页</span>
            </li>
            <li>
                <span onclick='getProduct("${prov}", "${categId}")' aria-hidden="true">&laquo;</span>

            </li>
            <li><span>${page}/${lastPage}</span></li>
            <li>
                <span onclick='getProduct("${next}", "${categId}")' aria-hidden="true">&raquo;</span>
            </li>
            <li>
                <span onclick='getProduct("${lastPage}", "${categId}")'>尾页</span>
            </li>
        </ul>
    </nav>
</script>

<!--没有产品数据的模版-->
<script id="noProduct" type="text/x-jquery-tmpl">
    <div style="width:500px;border:1px solid lightgray;margin:100px auto;padding:80px; font-size:20px">
        暂时没有相关数据
    </div>
</script>

<script>
    //使用jquery的ajax来获取数据库中的产品
    var url = "/Home/getProduct";

    $(function () {
        //页面加载成功后先获取发布的产品数据
        $.post(url, null, function (data) {
            console.log(data["products"]);

            var lastPage = 0;
            //说明还有剩余的
            var ret = data["total"] % data["count"];
            if (ret < data["count"])
                lastPage = Math.floor(data["total"] / data["count"]) + 1;
            else
                lastPage = Math.floor(data["total"] / data["count"]);
            //修改分页的产品类型
            var listCountData =
                {
                    "categId": data["categId"],
                    "page": data["start"],
                    "next": data["start"] + 1,
                    "prov": data["start"],
                    "lastPage": lastPage

                };
            $("#listCountTemplete").tmpl(listCountData).appendTo("#listCount");

            //console.log(data["products"].length);
            if (data["products"].length > 0)
                $("#productItem").tmpl(data["products"]).appendTo("#items");
            else
                $("#noProduct").tmpl(null).appendTo("#items");
        });
    });

    //获取产品分类后的数据
    function getProductByCategory(categId) {
        //点击选项卡的时候，通过分类 id 来获取指定数据,page默认为1
        var param = { "categId": categId, "page": 1 };
        var url = "/Home/getProduct";

        //修改分页的产品类型
        //$("#listCount").empty();
        //$("#listCountTemplete").tmpl(null).appendTo("#listCount");

        $.post(url, param, function (data) {
            var ret = data["total"] % data["count"];
            console.log(ret);
            var lastPage = 0;

            //说明还有剩余的
            if (ret < data["count"])
                lastPage = Math.floor(data["total"] / data["count"]) + 1;
            else
                lastPage = Math.floor(data["total"] / data["count"]);

            if (data["products"].length > 0) {
                var listCountData =
                    {
                        "categId": data["categId"],
                        "page": data["start"],
                        "next": data["start"] + 1,
                        "prov": data["start"],
                        "lastPage": lastPage
                    };

                //只有一页的时候页不显示分页
                if (data["total"] < data["count"])
                    $("#listCount").empty();
                else {
                    //不止一页的时候
                    $("#listCount").empty();
                    $("#listCountTemplete").tmpl(listCountData).appendTo("#listCount");
                }

                //先清空之前的元素，在添加
                $("#items").empty();
                $("#productItem").tmpl(data["products"]).appendTo("#items");
            }
            else {
                //没有数据，直接不显示分页了
                $("#listCount").empty();

                $("#items").empty();
                $("#noProduct").tmpl(null).appendTo("#items");
            }

        });
    }


    //获取产品分类后且分页的数据
    //page: 第几页
    //categId: 分类id
    function getProduct(page, categId) {
        var data = { "categId": categId, "page": page };
        var url = "/Home/getProduct";

        $.post(url, data, function (data) {

            var ret = data["total"] % data["count"];
            //console.log(ret);
            var lastPage = 0;
            if (ret < data["count"])
                lastPage = Math.floor(data["total"] / data["count"]) + 1;
            else
                lastPage = Math.floor(data["total"] / data["count"]);
            console.log(Math.floor(data["total"] / data["count"]));
            console.log(lastPage);

            if (data["products"].length > 0) {
                var listCountData =
                    {
                        "categId": data["categId"],
                        "page": data["start"],
                        "next": data["start"] + 1,
                        "prov": data["start"] - 1,
                        "lastPage": lastPage
                    };
                $("#listCount").empty();
                $("#listCountTemplete").tmpl(listCountData).appendTo("#listCount");

                //先清空之前的元素，在添加
                $("#items").empty();
                $("#productItem").tmpl(data["products"]).appendTo("#items");
            }
        });
    }
</script>
