<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./lib/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="./css/index.css" rel="stylesheet">
    <script src="./lib/js/jquery.min.js"></script>
    <script src="./lib/js/bootstrap/3.3.6/bootstrap.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="container">

        <nav class="top">
            <a href="#nowhere">
                <span class="glyphicon glyphicon-home redColor"></span>
                跳蚤市场首页
            </a>
            <a href="#nowhere">消息</a>

            <span>Hi，欢迎来跳蚤市场</span>
            <a href="#nowhere">请登录</a>
            <a href="#nowhere">免费注册</a>

            <span class="pull-right">
                <a href="#nowhere">我的订单</a>
                <a href="#nowhere">
                    <span class=" glyphicon glyphicon-shopping-cart redColor"></span>
                    购物车<strong>0</strong>件</a>
            </span>
        </nav>

        <div class="banner">
            <div class="logined"></div>
        </div>

        <div class="salebar">
            <div class=saleitem>留空</div>
            <div class="line"></div>
            <div class=saleitem>发布闲置物品</div>
        </div>
        <div class="tabbar">
            <div class="category">数码</div>
            <div class="category">数码</div>
            <div class="category">数码</div>
            <div class="category">数码</div>
            <div class="category">数码</div>
            <div class="category">数码</div>
        </div>
        <div class="item-list">
            <div class="items">
                <div class="item"><a href=""></a></div>
                <div class="item"><a href=""></a></div>
                <div class="item"><a href=""></a></div>
                <div class="item"><a href=""></a></div>
                <div class="item"><a href=""></a></div>
                <div class="item"><a href=""></a></div>
                <div class="item"><a href=""></a></div>
                <div class="item"><a href=""></a></div>
                <div class="item"><a href=""></a></div>
                <div class="item"><a href=""></a></div>
            </div>
            <div class="list-count">
              
                       
            </div>
        </div>
        <div class="font"></div>
    </div>

</body>

</html>